.jumbotron {
	background-color: skyBlue;
	color: black;
	font-weight: bold;
	font-style: Helvetica;

}
.container {
	background-color: lightGray;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 2%;

}

.img-fluid {
	width: 100%;
	height: 280px;
}

.btn {
	border-radius: 20px solid;
	border-color: black;
	color: black;
	background-color: lightBlue;
	text-align: center;
	font-style: italic;
	font-size: 20px;
	font-weight: bolder; 
}

footer {
	padding: 10px 10px 0 10px;
	background-color: skyBlue;
	margin-bottom: 10px;
	text-align: center;

}

.card-sport {
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-reserva {
	width: 100%;
}

.footer-address-icon {
	padding-right: 10px;
}

.navbar {
	background-color: lightGray;
	color: black;
}